@font-face {
	font-family: 'Tisa OT';
	src: url(../typefaces/TisaOT.otf);
}

@font-face {
	font-family: 'Univers LT Std - 47 Light Condensed';
	src: url(/assets/typefaces/UniversLTStd-Cn.otf);
}

/*
@font-face {
	font-family: 'Univers LT Std';
	src: url(../typefaces/UniversLTStd-Cn.otf);
}
*/


html { 
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-webkit-font-smoothing:antialiased; 
	font-smoothing:antialiased; 
	text-rendering:optimizeLegibility;
	overflow-y: scroll; 
}
html,body { margin: 0; height: 100%; }
body { font: 14px/1.8em 'Tisa OT'; color: #505050; }

h1,h2,h3,h4,h5,h6,p { margin-top: 0; }
a, h1,h2,h3,h4,h5,h6 { color: #CE0C26; text-decoration: none; }
hr { border-bottom: 1px solid #EEE; border-width: 0 0 1px; margin: 3em 0; }
.heading-typeface,h1,h2,h3,h4,h5,h6 { font-family: 'Univers LT Std - 47 Light Condensed'; font-weight: lighter; text-transform: uppercase; }

#wrapper { height: 100%; }
.slides li { background-color: #FFF; }
.fill { max-width: 120%; margin-left: -10%;}
.typeface-colour-secondary, .typeface-colour-secondary a { color: #5A020E; }
.typeface-colour-white, .typeface-colour-white a { color: #FFF; }
.rs { margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; }

.clearfix { zoom: 1; }
.clearfix:after { clear: both; }
.clearfix:before,
.clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0; 
}

.list-unstyled,
.list-unstyled li,
.contact-footer ul,
.contact-footer ul li,
.rs {
  list-style: none inside;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.column { 
	float: left; 
	display: inline;
	@media only screen and (max-width: 767px) {
		position: relative; 
		float: none; 
		display: block; 
	}
} 


aside { 
	width: 50%; 
	position: fixed; 
	top: 0; 
	bottom: 0; 
	background-color: rgba(221,30,62,1); 
	color: #FFF; 
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		width: 40%;
	}
	@media only screen and (max-width: 767px) {
		width: auto; 
	}
	.padded {
		 padding: 2em 10% ; 
		 width: 80%; 
		 max-width: 480px;
		#logo { 
			margin-left: -18px ; 
			margin-top: 1em; 
			img{ 
				width: 100%;
			}
		}
		.intro { 
			font-style: italic;
		}
		.portfolio { 
			background-color:#fff; 
			list-style-type: none; 
			padding: 0;
			li {
				padding-left: 1.5em;
				&:first-child{ 
					color:#5A020E; 
					padding-left: 0.6em;
				}
			}
		}
		.contact-footer {
			font-size: 0.8em; 
			line-height: 1.5em; 
			bottom: 0; 
			position: absolute; 
			margin-bottom: 40px;
			@media only screen and (max-width: 767px) {
				position: relative;
			}
			hr { 
				border: none; 
				border-bottom: 1px solid rgba(90, 2, 14, 0.1); 
				height: 0; margin-top: 0.5em; 
				margin-bottom: 0.5em; 
			}			
			.columns { 
				clear: both; 
				ul { 
					float: left; 
					@media only screen and (min-width: 768px) and (max-width: 959px) {
						width: 100%; 
						float: none; 
					}
					/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
					@media only screen and (max-width: 460px) {
						width: 100%; 
						float: none; 
					}
				}
				.heading-typeface {
					margin-right: 20px;
				}
			}
		}
	}
}

section { 
	width: 50%; 
	margin-left: 50%;
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		width: 60%; 
		margin-left: 40%; 
	}
	@media only screen and (max-width: 767px) {
		width: auto; 
		margin-left: 0; 
	} 
	figure { 
		display: block; 
		margin: 0; 
		background-repeat: no-repeat; 
		background-size: 100% auto; 
		overflow: hidden; 
		&.active{
			img {
				-webkit-transform: translate(0, 0);
				-moz-transform: translate(0, 0);
				-ms-transform: translate(0, 0);
				-o-transform: translate(0, 0);
				transform: translate(0, 0);
				opacity: 1;
			}
		}
		img {
			-webkit-transition: all 0.25s ease-in-out;
			-moz-transition: all 0.25s ease-in-out;
			-ms-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;
			-webkit-transform: translate(0, 80%);
			-moz-transform: translate(0, 80%);
			-ms-transform: translate(0, 80%);
			-o-transform: translate(0, 80%);
			transform: translate(0, 80%);
			width: 120%;
			opacity: 0;
	  	}
	}
	.padded { 
		margin: 0 10%; 
	}
	.contentArea { 
		padding-bottom: 30px; 
		padding-top: 45px; 
		.projectDetails { 
			width: 65%; 
			margin-right: 5%; 
			@media only screen and (max-width: 767px) {
				width: 100%; 
			}
		}
		.projectMeta { 
			width: 30%; 
			text-align: right; 
			font-size: 0.8em; 
			font-style: italic; 
			padding: 0; 
			margin-top: 0; 
			list-style: none inside; 
			@media only screen and (max-width: 767px) {
				width: 100%; 
			}
		}
	}
}