@font-face {
  font-family: 'Tisa OT';
  src: url(../typefaces/TisaOT.otf);
}

@font-face {
  font-family: 'Univers LT Std - 47 Light Condensed';
  src: url(../typefaces/UniversLTStd-Cn.otf);
}

/*
@font-face {
  font-family: 'Univers LT Std';
  src: url(../typefaces/UniversLTStd-Cn.otf);
}
*/


html { 
  font-size: 100%;
  overflow-y: scroll;  
  -webkit-text-size-adjust: 100%; 
  -webkit-font-smoothing:antialiased; 
  font-smoothing:antialiased; 
  text-rendering:optimizeLegibility; 
}

html,body { margin: 0; height: 100%; }
body { font: 18px/1.8em 'Tisa OT'; color: #505050; }

a, h1,h2,h3,h4,h5,h6 { color: #CE0C26; text-decoration: none; }
hr { border-bottom: 1px solid #EEE; border-width: 0 0 1px; margin: 3em 0; }
.heading-typeface,h1,h2,h3,h4,h5,h6 { font-family: 'Univers LT Std - 47 Light Condensed'; font-weight: lighter; text-transform: uppercase; }

#wrapper { height: 100%; }
.fill { max-width: 120%; margin-left: -10%;}
.typeface-colour-secondary, .typeface-colour-secondary a { color: #5A020E; }
.typeface-colour-white, .typeface-colour-white a { color: #FFF; }
.rs { margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; }

section#mainContent h4,
section#mainContent h5,
section#mainContent h6 { 
  color: #505050; 
}

.clearfix { zoom: 1; }
.clearfix:after { clear: both; }
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; 
}

.list-unstyled,
.list-unstyled li,
.contact-footer ul,
.contact-footer ul li,
.rs {
  list-style: none inside;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.column { 
  float: none; 
  display: block;
  @media only screen and (min-width: 768px) {
    float: left; 
    display: inline; 
  }
} 


aside { 
  width: auto; 
  top: 0; 
  bottom: 0;
  left: 0;
  background-color: rgba(221,30,62,1); 
  color: #FFF; 
  overflow-y: auto;
  @media only screen and (min-width: 768px) {
    width: 40%;
    position: fixed;
  }
  @media only screen and (min-width: 960px) {
    width: 30%; 
  }
  .padded {
    padding: 2em 10% ; 
    width: 80%; 
    max-width: 480px;
    #logo { 
      margin-left: -7%; 
      margin-top: 1em; 
      img{ 
        width: 60%;
      }
    }
    #portfolioLinks{
      a{
        color: #FFF;
        border-bottom: 2px solid #FFF;
      }
    }
    .intro { 
      font-style: italic;
    }
    .portfolio { 
      background-color:#fff; 
      list-style-type: none; 
      padding: 0;
      li {
        padding-left: 1.5em;
        &:first-child{ 
          color:#5A020E; 
          padding-left: 0.6em;
        }
      }
    }
    .contact-footer {
      position: relative; 
      font-size: 0.8em; 
      line-height: 1.5em; 
      bottom: 0; 
      left: auto;
      right: auto;
      margin-bottom: 40px;
      max-width: 480px;
      @media only screen and (min-width: 768px) {
        @media only screen and (max-height: 640px){
          position: relative;
          left: auto;
          right: auto;
        }
        position: absolute;
        left: 10%;
        right: 10%;
      }
      hr { 
        border: none; 
        border-bottom: 1px solid rgba(90, 2, 14, 0.1); 
        height: 0; margin-top: 0.5em; 
        margin-bottom: 0.5em; 
      }     
      .columns { 
        clear: both; 
        ul { 
          float: none; 
          width: 100%;
          @media only screen and (min-width: 460px) {
            float: left; 
          }
        }
      }
    }
  }
}

section { 
  width: auto; 
  margin-left: 0; 
  @media only screen and (min-width: 768px) {
    width: 60%; 
    margin-left: 40%; 
  }
  @media only screen and (min-width: 960px) {
    width: 70%; 
    margin-left: 30%;
  } 
  figure { 
    display: block; 
    margin: 0; 
    background-repeat: no-repeat; 
    background-size: 100% auto; 
    overflow: hidden;
    &.cover-photo {
      height: 80vh;
      background-position: center center;
      background-size: cover;
    }
    &.active{
      img {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
      }
    }
    img {
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -ms-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      -webkit-transform: translate(0, 80%);
      -moz-transform: translate(0, 80%);
      -ms-transform: translate(0, 80%);
      -o-transform: translate(0, 80%);
      transform: translate(0, 80%);
      width: 120%;
      opacity: 0;
    }
  }
  .padded { 
    margin: 0 10%; 
  }
  .card{
    width: 100%;
    transition: 0.3s;
    margin-bottom: 5%;
    cursor: pointer;
    @media only screen and (min-width: 768px) {
      float: left;
      width: 50%;    
    }
    @media only screen and (min-width: 960px) {
      width: 25%;    
    }
    img{
      margin: 2% auto;
      display: block;
    }
    .container {
      padding: 2px 16px;
      h4, p{
        margin: 0;
        text-align: center;
      }
    }
  }
  .contentArea { 
    padding-bottom: 30px; 
    padding-top: 45px;
    .articleTitle {
      font-size: 35px;
      line-height: 48px;
      width: 100%;
      @media only screen and (min-width: 768px){
        width: 85%;
      }
      @media only screen and (min-width: 960px){
        width: 65%;
      }
    }
    .projectDetails { 
      width: 100%; 
      @media only screen and (min-width: 768px) {
        width: 65%; 
        margin-right: 5%; 
      }
      ol { 
        list-style-position: outside; 
        padding-left: 1.2em; 
      }
      ul {
        font-family: 'Tisa OT';
        color:#7f7f7f;
        padding-left: 0;
        list-style-type: none;
        list-style-position: inside;
        li { 
          padding-left: 1.2em; 
          &:before {
            content: '\203A';
            color: #DD1E3E;
            display: inline-block;
            width: 1.2em;
            margin-left: -1.2em;
            font-style: normal;
          }
        }
      }

    }
    .projectMeta { 
      width: 100%; 
      text-align: right; 
      font-size: 0.8em; 
      font-style: italic; 
      padding: 0; 
      margin-top: 0; 
      list-style: none inside; 
      @media only screen and (min-width: 768px) {
        width: 30%; 
      }
    }
  }
}

.team-modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,1); /* Black w/ opacity */
  div{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    position: relative;
    margin: 2% auto;
    padding: 5px 15px;
    .close,.close1,.close2,.close3 {
      color: white;
      float: right;
      font-size: 30px;
      font-weight: bold;
      cursor: pointer;
    }
    img{
      width: 100%;
      @media only screen and (min-width: 768px) {
        width: 20%; 
      }
    }
  }
}

article{
  .exdent { 
    margin-top: 1em;
    margin-left: -10%;
    margin-right: -10%;
    @media only screen and (min-width: 768px) {
      margin-right: 5%; 
      margin-left: -15%;
    }
    img { 
      width: 100%;
      margin: 0;
    }
  }
  p {
    &:hover { 
      color: #141414; 
      border-color: #CCC;
      &::before {
        color: #CDCDCD; 
      } 
    }
    &::before {
      content: ' \00b6';
      display: inline;
      margin: 0 0 0 -2em;
      width: 2em;
      display: inline-block;
      color: #EFEFEF;
      font-family: "Lucida Grande", Verdana, "Helvetica", Arial;
    }
  }
  a { 
    text-decoration: none; 
    color: #505050; 
    border-bottom: 1px dotted #CCC; 
    -webkit-transition: color 0.25s linear;
    &:hover { 
      border-bottom: 1px solid #CCC; 
      color: black;
      &::after { 
        color: #AAA;
      } 
    }
    &::after {
      content: '\221E';
      display: inline;
      padding-left: 3px;
      color: #DDD;
      border-bottom: 1px solid white;
      font-size: 1em;
    }
  }
  pre {
    font-size: small;
    margin: 0;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    code {
      display: block;
      word-wrap: normal;
      overflow-x: auto;
      padding: 0;
    }
  }
  code {
    background: #f7f7f7;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-radius: 2px;
  }
}
.entry-meta{
  margin: 1em 0 0;
  padding: 0;
  color: #999;
  text-align: right;
  width: 100%; 
  list-style: inside none;
  -webkit-transition: all 0.25s linear;
  &.small {
    font-size: 0.8em;
  }
  @media only screen and (min-width: 768px) {
    width: 100px;
  } 
  a {
    color: #666;
    border: 0;
  }
  &:hover {
    color: #333;
    a{
      color: #DC1D3F;
    }
  }
}

blockquote {
  p {
    &::before { 
      color: red; 
      content: ''; 
      padding: 0; 
    }
  }
  cite{
    display: block;
    line-height: 18px;
    color: #999999;
    font-size: 13px;
    &::before {
      content: '\2014 \00A0';
    }
  }
  &:hover { 
    color: #141414; 
    border-color: #CCC; 
  }
}



