@font-face {
  font-family: 'Tisa OT';
  src: url(../typefaces/TisaOT.otf); }

@font-face {
  font-family: 'Univers LT Std - 47 Light Condensed';
  src: url(../typefaces/UniversLTStd-Cn.otf); }

/*
@font-face {
  font-family: 'Univers LT Std';
  src: url(../typefaces/UniversLTStd-Cn.otf);
}
*/
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html, body {
  margin: 0;
  height: 100%; }

body {
  font: 18px/1.8em 'Tisa OT';
  color: #505050; }

a, h1, h2, h3, h4, h5, h6 {
  color: #CE0C26;
  text-decoration: none; }

hr {
  border-bottom: 1px solid #EEE;
  border-width: 0 0 1px;
  margin: 3em 0; }

.heading-typeface, h1, h2, h3, h4, h5, h6 {
  font-family: 'Univers LT Std - 47 Light Condensed';
  font-weight: lighter;
  text-transform: uppercase; }

#wrapper {
  height: 100%; }

.fill {
  max-width: 120%;
  margin-left: -10%; }

.typeface-colour-secondary, .typeface-colour-secondary a {
  color: #5A020E; }

.typeface-colour-white, .typeface-colour-white a {
  color: #FFF; }

.rs {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }

section#mainContent h4,
section#mainContent h5,
section#mainContent h6 {
  color: #505050; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  clear: both; }

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.list-unstyled,
.list-unstyled li,
.contact-footer ul,
.contact-footer ul li,
.rs {
  list-style: none inside;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0; }

.column {
  float: none;
  display: block; }
  @media only screen and (min-width: 768px) {
    .column {
      float: left;
      display: inline; } }

aside {
  width: auto;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #dd1e3e;
  color: #FFF;
  overflow-y: auto; }
  @media only screen and (min-width: 768px) {
    aside {
      width: 40%;
      position: fixed; } }
  @media only screen and (min-width: 960px) {
    aside {
      width: 30%; } }
  aside .padded {
    padding: 2em 10%;
    width: 80%;
    max-width: 480px; }
    aside .padded #logo {
      margin-left: -7%;
      margin-top: 1em; }
      aside .padded #logo img {
        width: 60%; }
    aside .padded #portfolioLinks a {
      color: #FFF;
      text-decoration: underline; }
    aside .padded .intro {
      font-style: italic; }
    aside .padded .portfolio {
      background-color: #fff;
      list-style-type: none;
      padding: 0; }
      aside .padded .portfolio li {
        padding-left: 1.5em; }
        aside .padded .portfolio li:first-child {
          color: #5A020E;
          padding-left: 0.6em; }
    aside .padded .contact-footer {
      position: relative;
      font-size: 0.8em;
      line-height: 1.5em;
      bottom: 0;
      left: auto;
      right: auto;
      margin-bottom: 40px;
      max-width: 480px; }
      @media only screen and (min-width: 768px) {
        aside .padded .contact-footer {
          position: absolute;
          left: 10%;
          right: 10%; } }
  @media only screen and (min-width: 768px) and (max-height: 640px) {
    aside .padded .contact-footer {
      position: relative;
      left: auto;
      right: auto; } }
      aside .padded .contact-footer hr {
        border: none;
        border-bottom: 1px solid rgba(90, 2, 14, 0.1);
        height: 0;
        margin-top: 0.5em;
        margin-bottom: 0.5em; }
      aside .padded .contact-footer .columns {
        clear: both; }
        aside .padded .contact-footer .columns ul {
          float: none;
          width: 100%; }
          @media only screen and (min-width: 460px) {
            aside .padded .contact-footer .columns ul {
              float: left; } }

section {
  width: auto;
  margin-left: 0; }
  @media only screen and (min-width: 768px) {
    section {
      width: 60%;
      margin-left: 40%; } }
  @media only screen and (min-width: 960px) {
    section {
      width: 70%;
      margin-left: 30%; } }
  section figure {
    display: block;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow: hidden; }
    section figure.cover-photo {
      height: 80vh;
      background-position: center center;
      background-size: cover; }
    section figure.active img {
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 1; }
    section figure img {
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -ms-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      -webkit-transform: translate(0, 80%);
      -moz-transform: translate(0, 80%);
      -ms-transform: translate(0, 80%);
      -o-transform: translate(0, 80%);
      transform: translate(0, 80%);
      width: 120%;
      opacity: 0; }
  section .padded {
    margin: 0 10%; }
  section .contentArea {
    padding-bottom: 30px;
    padding-top: 45px; }
    section .contentArea .projectDetails {
      width: 100%; }
      @media only screen and (min-width: 768px) {
        section .contentArea .projectDetails {
          width: 65%;
          margin-right: 5%; } }
      section .contentArea .projectDetails ol {
        list-style-position: outside;
        padding-left: 1.2em; }
      section .contentArea .projectDetails ul {
        font-family: 'Tisa OT';
        color: #7f7f7f;
        padding-left: 0;
        list-style-type: none;
        list-style-position: inside; }
        section .contentArea .projectDetails ul li {
          padding-left: 0; }
          section .contentArea .projectDetails ul li:before {
            content: '\203A';
            color: #DD1E3E;
            display: inline-block;
            width: 1.2em;
            margin-left: -1.2em;
            font-style: normal; }
    section .contentArea .projectMeta {
      width: 100%;
      text-align: right;
      font-size: 0.8em;
      font-style: italic;
      padding: 0;
      margin-top: 0;
      list-style: none inside; }
      @media only screen and (min-width: 768px) {
        section .contentArea .projectMeta {
          width: 30%; } }

.imgs {
  width: 200px;
  margin-bottom: 10%; }
  @media only screen and (min-width: 960px) {
    .imgs {
      float: right; } }

.imgs img {
  width: 100%; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: black;
  /* Black w/ opacity */ }

.modal div {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  position: relative;
  margin: 2% auto;
  padding: 5px 15px; }

.modal div img {
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .modal div img {
      width: 20%; } }

.close, .close1, .close2, .close3 {
  color: white;
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer; }
